title.{
    text-align: center;
    text-shadow: 20px;
    color: aquamarine;
    
}
h1{
    text-align: left;
    color:turquoise;
    
}
h2{
    text-align: left;
    color: turquoise;
    
}
p{
    text-align: center;
    color:aqua;
}
